@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
h1,
p,
h3,
h6,
h5,
h4,
h2, input {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  max-width: 1440px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 80px 0;
}
nav .head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
}
nav .head .navUl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 385px;
}
nav .head .navUl .navLink {
  justify-content: space-between;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  gap: 32px;
  color: #475467;
}
nav .head .signLink {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Poppins";
  align-items: center;
  list-style: none;
  gap: 12px;
  color: #475467;
}
nav .head .signLink .SignupLink {
  padding-left: 20px;
  color: white;
  justify-content: space-between;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  background-color: #15B79E;
  width: Hug 82px px;
  height: Hug 36px px;
  padding: 8px 14px 8px 14px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
}
nav .leftContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 40px;
}

.navLink2 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #475467;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}
header .content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: Fill 576px px;
  height: Hug 300px px;
  gap: 24px;
  opacity: 0px;
}
header .content .headTitle {
  font-family: "Poppins";
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}
header .content .vectorImg {
  max-width: 480px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}
header .headerContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 40px;
  opacity: 0px;
}
header .skuP {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #475467;
}
header .headerImage {
  max-width: 456.44px;
  height: 423.97px;
  top: 82.53px;
  left: 91.49px;
  gap: 0px;
  opacity: 0px;
}
header .headerImage {
  max-width: 576px;
  gap: 0px;
  opacity: 0px;
}
header .tryBtn1 {
  font-family: "Poppins";
  background: #15B79E;
  width: Hug 171px px;
  height: Hug 60px px;
  padding: 16px 28px 16px 28px;
  gap: 12px;
  border-radius: 8px;
  opacity: 0px;
  color: aliceblue;
  border: none;
}

aside {
  max-width: 1280px;
  margin: auto;
}

.asideContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1216px;
  gap: 20px;
}

.contentAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 167px;
  height: Hug 80px px;
  gap: 12px;
  opacity: 0px;
}

.asidePara {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #15B79E;
}

.asideH1 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: #101828;
}

.para {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #475467;
}

.layoutBox {
  max-width: 1216px;
  margin: auto;
  display: flex;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 92px;
}
.layoutBox .layoutImgbox {
  max-width: 576px;
  gap: 0px;
  opacity: 0px;
}
.layoutBox .layoutImgbox .layoutImg {
  max-width: 576px;
}
.layoutBox .layoutContent {
  max-width: 576px;
  display: flex;
  gap: 64px;
  opacity: 0px;
}
.layoutBox .layoutContent .cardsBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  max-width: 576px;
  padding-top: 42px;
}
.layoutBox .layoutContent .cardsBox .cardsBox1 {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.layoutBox .layoutContent .cardsBox .cardsBox1 .cardType {
  max-width: 272px;
  gap: 8px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}
.layoutBox .layoutContent .cardsBox .cardsBox1 .cardType h3 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
.layoutBox .layoutContent .cardsBox .cardsBox1 .cardType .cardPara {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #475467;
}
.layoutBox .frImg {
  max-width: 48px;
  height: 48px;
}

.productContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #125D56;
  justify-content: center;
  align-items: center;
}
.productContainer .productBox {
  max-width: 1280px;
  padding: 96px 32px 96px 32px;
  gap: 64px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productContainer .productBox .productContent {
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0px;
  justify-content: center;
  align-items: center;
}
.productContainer .productBox .productContent .topContent {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #15B79E;
}
.productContainer .productBox .productContent .middleContent {
  font-family: Poppins;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: #FFFFFF;
}
.productContainer .productBox .productContent .bottomContent {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.productContainer .product {
  max-width: 1, 216px;
  height: Fixed 516px px;
  gap: 32px;
  opacity: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.productContainer .product .productCard1 {
  max-width: 384px;
  max-height: 242px;
  padding: 12px 0px 0px 0px;
  gap: 10px;
  border-radius: 12px;
  border: 1px;
  opacity: 0px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px;
}
.productContainer .product .productCard1 .productCardContent {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.productContainer .product .productCard1 .productCardContent .cardPara {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.productContainer .product .productCard1 .productCardContent .paraContent {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #475467;
}

article {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 96px 32px 96px 32px;
  gap: 64px;
  opacity: 0px;
  justify-content: center;
  align-items: center;
}
article .articleContent {
  max-width: 576px;
  gap: 48px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}
article .articleContent .articleTitle {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}
article .articleContent .articlePara {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #475467;
}
article .articleContent .articlePara span {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #15B79E;
}
article .articleContent .articleImgBox {
  max-width: 576px;
  height: 576px;
  gap: 0px;
  opacity: 0px;
  display: flex;
}
article .articleContent .articleImgBox .articleImg {
  max-width: 576px;
}

.mainBottom {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainBottom .mainBottomCard {
  max-width: 1280px;
  padding: 96px 32px 96px 32px;
  gap: 64px;
  border-radius: 20px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #125D56;
}
.mainBottom .mainBottomCard .mainBottomContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1, 216px;
  gap: 20px;
}
.mainBottom .mainBottomCard .mainBottomContent .bottomTitle {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}
.mainBottom .mainBottomCard .mainBottomContent .bottomPara {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #D0D5DD;
}
.mainBottom .mainBottomCard .tryBtn2 {
  max-width: 171px;
  display: flex;
  padding: 16px 28px 16px 28px;
  gap: 12px;
  border-radius: 8px;
  border: none;
  opacity: 0px;
  background-color: #15B79E;
  color: #FFFFFF;
}
.mainBottom .mainBottomCard .tryBtn2:hover {
  background-color: #0E9384;
}

.line {
  margin-top: 96px;
}

.fullFooter {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1, 440px;
  padding: 64px 80px 48px 80px;
  gap: 64px;
  border: 1px;
  border-color: #D0D5DD;
}
.fullFooter .subFooter {
  display: flex;
  flex-direction: row;
  max-width: 1, 280px;
  padding: 0px 32px 0px 32px;
  gap: 162px;
  opacity: 0px;
}
.fullFooter .subFooter .subfooterLogo {
  max-width: 265px;
  height: 48px;
  gap: 10px;
  opacity: 0px;
}
.fullFooter .subLinks {
  display: flex;
  max-width: 789px;
  gap: 32px;
  opacity: 0px;
  width: 100%;
}
.fullFooter .subLinks .companyLinks {
  display: flex;
  flex-direction: column;
  max-width: 173px;
  gap: 21px;
  width: 100%;
}
.fullFooter .subLinks .companyLinks .linkTitle {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #475467;
}
.fullFooter .subLinks .companyLinks .linkList {
  max-width: 173.81px;
  gap: 16px;
  display: flex;
  flex-direction: flex-start;
}
.fullFooter .subLinks .companyLinks .linkList ul {
  list-style-type: none;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 173px;
}
.fullFooter .subLinks .companyLinks .linkList ul li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #475467;
  max-width: 173px;
}
.fullFooter footer {
  display: flex;
  flex-direction: row;
  max-width: 1, 280px;
  padding: 31px 32px 31px 32px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}
.fullFooter footer .footContent .footPara {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 24.5px;
  text-align: center;
}

.sideMenu {
  display: none;
}

.subDisplay {
  display: none;
}

input[type=checkbox][name=menu] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url("./menu.png") no-repeat;
  /* Path to your image */
  background-size: contain;
  /* Adjust the background-size property */
  border: none;
  /* Remove border */
  outline: none;
  /* Remove outline */
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 60px;
  /* Adjust position as needed */
}

input[type=checkbox][name=menu]:checked {
  background-image: url("./close.png");
  /* Path to your checked image */
  background-size: contain;
  width: 25px;
  height: 25px;
}

input[type=checkbox][name=expand] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url("./expand_more.png") no-repeat;
  /* Path to your image */
  background-size: contain;
  /* Adjust the background-size property */
  border: none;
  /* Remove border */
  outline: none;
  /* Remove outline */
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  /* Adjust position as needed */
}

input[type=checkbox][name=expand]:checked {
  background-image: url("./expand_less.png");
  /* Path to your checked image */
  background-size: contain;
  width: 25px;
  height: 25px;
}

button:hover {
  background-color: #0E9384;
}

.tryBtn2:hover {
  background-color: #0E9384;
}

@media only screen and (max-width: 1295px) {
  header {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */