h1,
p,
h3,
h6,
h5,
h4,
h2,
input {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .sideMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 680px;
    gap: 0px;
    padding-top: 10px;
    margin: auto;
    width: 100%;
  }
  .sideMenu .menuLink {
    display: flex;
    grid-column: 1/span3;
    margin-right: 0px;
    margin-top: 0;
    width: 780px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    align-self: center;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 1;
    background-color: #FFFFFF;
  }
  .sideMenu .menuLink .type {
    list-style-type: none;
    gap: 10px;
    max-width: 680px;
    width: 100%;
  }
  .sideMenu .menuLink .type .over {
    max-width: 680px;
    padding: 6px 32px 6px 42px;
    gap: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #475467;
  }
  .sideMenu .menuLink .type .over:hover {
    background-color: #F0FDF9;
  }
  .sideMenu input[type=checkbox]:checked ~ .menuLink {
    height: 200px;
  }
  .subDisplay {
    display: block;
    max-width: 744px;
    display: flex;
    flex-direction: column;
    padding: 48px 32px 0px 32px;
    gap: 48px;
    width: 100%;
  }
  .subDisplay .groupDisplay {
    display: flex;
    flex-direction: column;
    width: Fill 680px px;
    height: Hug 236px px;
    gap: 20px;
    opacity: 0px;
  }
  .subDisplay .groupDisplay .displayMore {
    height: 0;
    overflow: hidden;
  }
  .subDisplay .groupDisplay .displayBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #D0D5DD;
  }
  .subDisplay .groupDisplay .displayBox input {
    margin: 0;
  }
  .subDisplay .groupDisplay .displayBox .displayTitle {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #475467;
  }
  .subDisplay input[type=checkbox]:checked ~ .more {
    height: 100%;
  }
  .container {
    max-width: 744px;
    margin: 0 auto;
  }
  nav {
    max-width: 744px;
    padding: 0 32px 0;
  }
  nav .head {
    display: none;
  }
  .fullFooter {
    padding: 48px, 32px, 0px, 32px;
    justify-content: center;
    align-items: center;
  }
  .fullFooter .subFooter {
    display: none;
  }
  .fullFooter footer {
    max-width: 680px;
    padding: 32px 0px 32px 0px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    width: 100%;
  }
  .fullFooter footer .footContent {
    max-width: 288px;
  }
  header {
    max-width: 744px;
    padding: 64px 32px 64px 32px;
    gap: 32px;
    opacity: 0px;
  }
  header .headerImg {
    max-width: 500px;
  }
  header .headerContent {
    max-width: 680px;
    gap: 48px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
  }
  header .content {
    max-width: 680px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  header .content .skuP {
    text-align: center;
  }
  header .tryBtn1 {
    width: 680px;
    height: Hug 60px px;
    padding: 16px 28px 16px 28px;
    gap: 12px;
    border-radius: 8px;
    opacity: 0px;
  }
  .layoutBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .layoutBox .layoutImgbox {
    max-width: 500px;
  }
  .layoutBox .layoutImgbox .layoutImg {
    max-width: 500px;
  }
  .layoutBox .layoutContent {
    max-width: 680px;
    gap: 48px;
    opacity: 0px;
  }
  .layoutBox .layoutContent .cardsBox {
    max-width: 680px;
    gap: 48px;
    opacity: 0px;
  }
  .layoutBox .layoutContent .cardsBox .cardsBox1 {
    max-width: 324px;
  }
  .layoutBox .layoutContent .cardsBox .cardsBox1 .cardType {
    max-width: 324px;
  }
  .productContainer {
    max-width: 1024px;
  }
  .productContainer .productBox {
    max-width: 744px;
  }
  .productContainer .productBox .productContent {
    max-width: 744px;
  }
  .productContainer .productBox .productContent .middleContent {
    text-align: center;
  }
  .productContainer .productBox .productContent .bottomContent {
    text-align: center;
  }
  .productContainer .productBox .productCard .product {
    grid-template-columns: repeat(2, 1fr);
  }
  article {
    flex-direction: column-reverse;
  }
  article .articleImgBox {
    max-width: 500px;
  }
  article .articleImgBox .articleImg {
    max-width: 500px;
  }
  article .articleContent {
    max-width: 680px;
    gap: 48px;
  }
  .mainBottom {
    max-width: 680px;
    height: Hug 330px px;
    padding: 64px 32px 64px 32px;
    gap: 64px;
    border-radius: 20px;
    opacity: 0px;
  }
}
.firstchild1 {
  display: none;
}

#firstchild:checked ~ .firstchild1 {
  display: block;
  height: 1000px;
}

@media only screen and (max-width: 680px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
  .sideMenu .menuLink {
    display: flex;
    grid-column: 1/span3;
    margin-right: 0px;
    margin-top: 0;
    width: 375px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    align-self: center;
    position: absolute;
    top: 40px;
    left: -10px;
    z-index: 1;
    background-color: #FFFFFF;
  }
  nav {
    max-width: 375px;
    padding: 16px 0px 0px 0px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 24px;
  }
  header {
    max-width: 375px;
    padding: 64px 16px 64px 16px;
    gap: 32px;
    opacity: 0px;
    margin: 0 auto;
  }
  header .headerContent {
    max-width: 343px;
    gap: 32px;
    justify-content: center;
  }
  header .headerContent .content {
    max-width: 343px;
  }
  header .headerContent .content .headTitle {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
  }
  header .headerContent .content .vectorImg {
    width: 343px;
    height: 12px;
    border: 2px 0px 0px 0px;
  }
  header .headerContent .content .headText {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  header .headerContent .tryBtn1 {
    max-width: 343px;
    padding: 12px 20px 12px 20px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
  }
  header .headerImage {
    max-width: 373px;
  }
  header .headerImage .headerImg {
    max-width: 373px;
    border-radius: 16px;
    opacity: 0px;
  }
  aside {
    max-width: 375px;
    margin: auto;
  }
  aside .asideContent {
    max-width: 343px;
    gap: 32px;
    opacity: 0px;
  }
  aside .asideContent .para {
    text-align: center;
  }
  .layoutBox {
    max-width: 375px;
    margin: auto;
  }
  .layoutBox .layoutContent .cardsBox {
    max-width: 343px;
    grid-template-columns: repeat(1, 1fr);
  }
  .layoutBox .layoutImgbox {
    max-width: 373px;
  }
  .layoutBox .layoutImgbox .layoutImg {
    max-width: 373px;
  }
  .productContainer {
    max-width: 680px;
  }
  .productContainer .productBox {
    max-width: 343px;
  }
  .productContainer .productBox .productContent {
    max-width: 343px;
  }
  .productContainer .productBox .productContent .middleContent {
    text-align: center;
  }
  .productContainer .productBox .productContent .bottomContent {
    text-align: center;
  }
  .productContainer .productBox .productCard {
    max-width: 343px;
  }
  .productContainer .productBox .productCard .product {
    grid-template-columns: repeat(1, 1fr);
  }
  article {
    max-width: 375px;
  }
  article .articleImgBox {
    max-width: 343px;
  }
  article .articleImgBox .articleImg {
    max-width: 343px;
  }
  article .articleContent {
    max-width: 343px;
    gap: 32px;
    opacity: 0px;
  }
  article .articleContent .artticleTitle {
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
  }
  article .articleContent .para {
    text-align: center;
  }
  .mainBottom {
    max-width: 375px;
    padding: 64px 16px 64px 16px;
    gap: 64px;
    border-radius: 20px;
    opacity: 0px;
  }
  .fullFooter {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 375px;
  }
  .fullFooter .subDisplay {
    max-width: 343px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .fullFooter footer {
    flex-direction: column;
    min-width: 343px;
    justify-content: center;
    align-items: left;
  }
  .fullFooter footer .footIcon {
    padding-left: 20px;
  }
}/*# sourceMappingURL=tabres.css.map */